//

@use "../abstract/placeholder" as *;

.navbar {
  padding-inline: 5rem;
  &-container {
    font-size: 1.8rem;

    @extend %d-flex-center;
  }
}

.navbar-noti {
  @extend %d-flex-center;
  gap: 4rem;
}

.user {
  &-profile {
    @extend %d-flex-center;
    gap: 0.5rem;
  }

  &-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid tomato;
    padding: 1px;
    overflow: hidden;

    &:hover .user-img {
      scale: 1.1;
    }
  }

  &-img {
    border-radius: 50%;
    width: 100%;
    transition: all 0.3s;
    cursor: pointer;
  }
}
