//

@use "../abstract/placeholder" as *;
@use "../abstract/functions" as fun;

.navbar {
  // padding-inline: 5rem;
  padding-top: 2rem;
  &-container {
    font-size: 1.8rem;

    @extend %d-flex-center;
  }

  &-form {
    flex: 0 1 30%;

    &__container {
      background-color: fun.getColor(ltsecondary);
      border-radius: 0.5rem;
      overflow: hidden;

      width: 100%;
      display: flex;
    }
    &__search {
      color: fun.getColor(text);
      background-color: transparent;
      padding: 1rem 2rem;
      width: inherit;
      border: none;
      outline: none;
    }
  }
}

.navbar-noti {
  @extend %d-flex-center;
  gap: 4rem;
}

.user {
  &-profile {
    @extend %d-flex-center;
    gap: 1rem;

    cursor: pointer;
  }

  &-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    // border: 0.2rem solid fun.getColor(primary);
    // padding: 0.3rem;
    overflow: hidden;

    &:hover .user-img {
      scale: 1.1;
    }
  }

  &-img {
    border-radius: 50%;
    width: 100%;
    transition: all 0.3s;
    cursor: pointer;
  }
}
