//

@use "../abstract/functions" as fun;

.sidebar {
  &-logo {
    color: fun.getColor(primary) !important;
    text-align: center;

    cursor: pointer;

    &__pic {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 1rem;
      border: 0.3rem solid fun.getColor(primary);
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s;

      &:hover {
        scale: 1.1;
      }
    }

    &__caption {
      font-size: 2.4rem;
    }

    &__position {
      color: fun.getColor(text);
      font-size: 1.2rem;
    }
  }
}
