//

.wrapper {
  max-width: 140rem;
  margin-inline: auto;
  height: 100vh;

  display: grid;
  grid-template-columns: auto repeat(3, 1fr);
  grid-template-rows: auto 1fr 1fr;
  gap: 2rem;
}

.sidebar {
  grid-area: 1 /1 /-1/ 2;
}

.navbar {
  grid-area: 1 / 2 / 2/ -1;
}

.section {
  grid-area: 2 / 2 / -1 / -1;
}
